@import "../../styles/global.scss";

.nameImage {
    height: calc(100vh - 100px);
    background-color: var(--bgColor1);
    position: relative;

    .myDetailsDiv {
        position: absolute;
        left: 150px;
        top: 25%;
        color: var(--basicWhite);
        z-index: 1;

        .detailHeader {
            font-weight: 400;
        }

        .detailName {
            font-size: 3rem;
            font-weight: 600;
            color: var(--primaryColor);
            font-family: serif;
        }

        .detailWork {
            font-weight: 400;
        }

        .detailButton {
            border: 3px solid var(--primaryColor);
            border-radius: 5px;
            padding: 10px 15px;
            background-color: transparent;
            color: var(--primaryColor);
            outline: none;
            margin-top: 10px;
            font-size: $mmFont;
            font-weight: 500;
        }
    }

    .myImage {
        height: 130%;
        width: 40%;
        position: absolute;
        bottom: 0;
        right: 120px;
    }

    .socialIcons {
        position: absolute;
        right: 100px;
        bottom: 30px;
        flex-direction: column;
        gap: 20px;

        .straightLine {
            height: 100px;
            border-radius: 3px;
            width: 2px;
            background-color: var(--primaryColor);
        }

        .socialIcon {
            height: 24px;
            width: 24px;
            color: var(--basicWhite);

            &:hover {
                scale: 1.1;
            }
        }
    }
}

@media(max-width:1000px) {
    .nameImage {
        .myDetailsDiv {
            left: 100px;
            top: 100px;
        }

        .myImage {
            right: 50px;
            height: 100%;
            width: 75%;
        }

        .socialIcons {
            right: 50px;
        }
    }
}

@media(max-width:450px) {
    .nameImage {

        .myDetailsDiv {
            left: 50px;
            top: 70px;

            .detailHeader {
                font-size: $mFont;
            }

            .detailName {
                font-size: $xxlFont;
            }

            .detailWork {
                font-size: $mFont;
            }

            .detailButton {
                padding: 5px 10px;
                font-size: $msFont;
            }
        }

        .myImage {
            right: 0;
            height: 95%;
            width: 100%;
        }

        .socialIcons {
            right: 20px;
        }
    }
}

@media(max-width:400px) {
    .nameImage {
        height: calc(100vh - 63px);
    }
}