@import "../../styles/global.scss";

.portfolio {
    background-color: var(--bgColor2);
    height: fit-content;

    flex-direction: column;
    padding-bottom: 100px;

    .portfolioHeader {
        text-align: center;
    }

    .portfolioCards {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        .portfolioCard {
            width: 23vw;
            height: 23vw;

            flex-direction: column;
            background-color: var(--bgColor1);
            border-radius: 10px;
            color: var(--basicWhite);
            position: relative;

            .portfolioData {
                display: none;
            }

            &:hover {
                background-color: var(--primaryColor);

                .portfolioData {
                    display: flex;
                    font-weight: 500;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: var(--overlayBg);
                    flex-direction: column;


                    .portfolioName {
                        font-size: $mFont;
                        font-weight: 600;
                        margin: 0;
                        width: 80%;
                        text-align: center;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .portfolioIntro {
                        font-size: $msFont;
                        font-weight: 400;
                        margin: 10px 0;
                        width: 70%;
                        text-align: center;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                    }

                    .portfolioButton {
                        background-color: var(--primaryColor);
                        border-radius: 5px;
                        border: none;
                        color: var(--bgColor1);
                        font-size: $msFont;
                        padding: 5px 10px;
                        font-weight: 600;
                        gap: 5px;
                    }
                }
            }

            .portfolioImage {
                height: 100%;
                width: 100%;
            }
        }
    }
}

.lightApp .portfolio {
    background-color: var(--bgColor2Light);

    .portfolioHeader {
        color: var(--primaryColorLight);
    }

    .portfolioCards {

        .portfolioCard {
            background-color: var(--bgColor1Light);
            color: var(--basicWhiteLight);

            &:hover {
                .portfolioData {
                    background-color: var(--overlayBgLight);

                    .portfolioButton {
                        background-color: var(--primaryColorLight);
                        color: var(--secondaryColorLight);
                    }
                }
            }

        }
    }
}

@media(max-width:800px) {
    .portfolio .portfolioCards {
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .portfolioCard {
            height: 40vw;
            width: 40vw;
        }
    }
}

@media(max-width:500px) {
    .portfolio {
        .portfolioCards {
            .portfolioCard:hover {
                .portfolioData {

                    .portfolioName {
                        font-size: $sFont;
                    }

                    .portfolioIntro {
                        font-size: $xsFont;
                    }

                    .portfolioButton {
                        padding: 3px 5px;
                        font-weight: 500;
                        gap: 5px;
                        font-size: $xsFont;
                    }
                }
            }
        }
    }
}