:root {
  // colors
  --primaryColor: #f0be73;
  --secondaryColor: #5d4b24;
  --bgColor1: #3d3f45;
  --bgColor2: #2b2d35;
  --overlayBg: #80808099;
  --basicWhite: white;
  --halfWhite: #ffffffb3;
  --boxShadow1: #00000030;
  --boxShadow2: #0000003b;


  // light
  --primaryColorLight: #457b9d;
  --secondaryColorLight: black;
  --bgColor1Light: #457b9d1a;
  --bgColor2Light: white;
  --basicWhiteLight: #05445E;
  --overlayBgLight: #ffffff99;

}

// fonts-sizes
$xsFont: 0.75rem;
$msFont: 0.875rem;
$sFont: 1rem;
$mmFont: 1.125rem;
$mFont: 1.25rem;
$lFont: 1.5rem;
$xlFont: 1.75rem;
$xxlFont: 2rem;

body,
button,
input {
  font-family: "Montserrat", sans-serif;
}

$secondaryFont: serif;

a {
  text-decoration: none;
}

button {
  cursor: pointer;

  &:hover {
    scale: 1.05;
  }
}

.headerText {
  font-size: 3rem;
  font-weight: 700;
  color: var(--basicWhite);
  margin-top: 0;
  white-space: nowrap;
  font-family: $secondaryFont;
}

@media(max-width:500px) {
  .headerText {
    font-size: $xlFont;
    font-weight: 600;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadowDiv {
  box-shadow: var(--boxShadow1) 0px 10px 20px, var(--boxShadow2) 0px 6px 6px;
}