@import "../../styles/global.scss";

.about {
    height: fit-content;
    padding: 10%;
    background-color: var(--bgColor2);
    margin: 0;

    .aboutData {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        color: var(--basicWhite);
        font-size: $mmFont;

        .straightLine {
            width: 100px;
            height: 3px;
            background-color: var(--primaryColor);
            display: flex;
            align-items: flex-start;
            border-radius: 3px;
        }

        .aboutPara {
            margin-top: -10px;
            line-height: 1.5;
        }
    }
}

@media(max-width:450px) {
    .about .aboutData {
        gap: 10px;

        .aboutPara {
            line-height: 1.2;
            font-size: $msFont;
        }
    }
}