@import "../../styles/global.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: var(--bgColor1);
  position: relative;

  .logoImg {
    height: 100%;
    width: 140px;
    margin: 0;
  }

  .headerOptions {
    display: flex;
    gap: 20px;
    z-index: 1;

    .headerOptionButton {
      background-color: transparent;
      border: none;
      color: var(--basicWhite);
      font-size: $mmFont;
      cursor: pointer;

      &:hover {
        scale: 1.1;
      }
    }
  }

  .headerInputDiv {
    background-color: var(--secondaryColor);
    border-radius: 5px;
    padding: 0 20px;
    color: var(--halfWhite);

    .headerInput {
      width: 150px;
      height: 35px;
      background-color: var(--secondaryColor);
      border: none;
      font-size: $sFont;
      outline: none;
      color: var(--basicWhite);
      z-index: 1;

      &::placeholder {
        color: var(--halfWhite);
      }
    }
  }

  .menuIcon {
    display: none;
  }
}

.lightApp .header {
  background-color: var(--bgColor1Light);

  .headerOptions {
    .headerOptionButton {
      color: var(--secondaryColorLight);
    }
  }

  .headerInputDiv {
    background-color: var(--secondaryColorLight);

    .headerInput {
      background-color: var(--secondaryColorLight);
    }
  }
}

@media (max-width: 800px) {
  .header {
    padding: 20px 20px;

    .menuIcon {
      color: var(--basicWhite);
      display: block;
      width: 20px;
      height: 20px;
    }

    .headerOptions,
    .headerInputDiv {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .header {
    padding: 10px 10px;

    .logoImg {
      width: 100px;
    }
  }
}