::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: var(--bgColor2);
}