@import "../../styles/global.scss";

.contacts {
    .contact {
        height: fit-content;
        padding-bottom: 100px;
        background-color: var(--bgColor1);
        position: relative;

        .contactRow {
            display: flex;
            align-items: start;
            justify-content: center;
            gap: 50px;
            width: 100%;

            .straightLine {
                width: 100%;
                background-color: var(--primaryColor);
                height: 3px;
                border-radius: 10px;
            }

            .contactHead {
                margin-top: -30px;
            }
        }

        .contactRow1 {
            position: absolute;
            bottom: -55px;
        }

        .socialIcons {
            gap: 20px;


            .socialIcon {
                height: 24px;
                width: 24px;
                color: var(--basicWhite);

                &:hover {
                    scale: 1.1;
                }
            }
        }

        .contactsGrid {

            flex-direction: column;
            gap: 20px;
            margin-top: 7vh;

            .gridRow1 {
                display: flex;
                gap: 20px;
            }

            .card1 {
                background-color: var(--bgColor2);
                color: var(--primaryColor);
                font-size: $mmFont;
                font-weight: 500;
                padding: 20px;
                border-radius: 10px;
                width: fit-content;
                display: flex;
                justify-content: center;
                gap: 20px;
                width: 350px;

                .contactCardSvg {
                    color: var(--basicWhite);
                }
            }
        }
    }

    .gratitude {
        height: fit-content;
        padding: 100px 0;
        background-color: var(--bgColor2);
        color: var(--primaryColor);
        font-family: $secondaryFont;
    }
}

@media(max-width:1100px) {
    .contacts {

        .contact .contactsGrid .gridRow1 {
            flex-direction: column;
        }
    }
}

@media(max-width:500px) {
    .contacts .contact {
        padding-bottom: 60px;

        .contactRow .contactHead {
            margin-top: -17px;
        }

        .contactsGrid {
            margin-top: 20px;

            .card1 {
                font-size: $xsFont;
                padding: 15px;
                gap: 15px;
                width: 250px;
            }
        }

        .contactRow1 {
            bottom: -33px;
        }
    }

    .contacts .gratitude {
        padding: 50px 0;

        .gratitudeText {
            font-size: $lFont;
        }
    }
}